/* 1. Cambiar el color de los eventos */
/* 1. Cambiar el color de los eventos */
.fc-h-event {
    background-color: #304b70 !important; /* Naranja */
    border-color: #567dd2 !important;
    font-size: 0.9em;
    padding: 2px;
}

/* 2. Cambiar el color de los botones principales */
.fc .fc-button-primary {
    background-color: #17164b !important; /* Azul */
    border-color: #17164b !important;
    text-transform: capitalize;
}

/* 3. Cambiar el título del calendario (Mes/Semana) */
.fc .fc-toolbar-title {
    color: #fdfeff; /* Gris Oscuro */
    font-size: 2.2em;
    font-weight: 700;
    text-transform: capitalize;
}
